html {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: hsl(226, 43%, 10%);
    color: white;
    padding-right: 10rem;
    padding-left: 10rem;
}
.main-container {
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.first-container {
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
}

.name-box img {
    width: 70px;
    height: 70px;
    border-width: 3px;
    border-style: solid;
    border-radius: 100%;
}

.gridcontainer {  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 25px 25px;
   grid-auto-flow: row;
   justify-items: stretch;
   grid-template-areas:
     ". . ."
     ". . .";
 }
 .first-container{
     border-width: 1px;
     border-style: solid;
     margin-right: 20px;
 }

 .category{
     border-width: 1px;
     border-style: solid;
 }
 


